name: Build and Release

on:
  push:
    tags:
      - "v*.*.*"

  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          cd .\MediaPlayerRPC\
          dotnet build --sc -c Release

      - name: Create zip
        run: |
          cd .\MediaPlayerRPC\
          mkdir App
          cd .\bin\Release\net8.0-windows10.0.22000.0\win-x64
          7z -tZip a ..\..\..\..\App\MediaPlayerRPC.zip .\*

      - name: Directory tree
        run: |
          tree

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          name: MediaPlayerRPC
          prerelease: true
          generate_release_notes: true
          files: ./MediaPlayerRPC/App/*
          body_path: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_REPOSITORY: dhzdhd/W11-MediaPlayerRPC
